$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-color: #373941;
$background: #FAFAFA;

$accentColor1: #007AC8;
$accentCcolor2: #2FA9FC;

$header-height: 65px;
$header-icon-color: #FFFFFF;
$header-color: #007AC8;

$media-header: #2FA9FC;
$media-side-header: #009AE1;

$border: 1px solid #E0E0E0;